[Unit]
Description=Create toolbox 'evdi-build' on first login if missing to build evdi
ConditionUser=!root

[Service]
Type=oneshot
# Make sure $HOME is set in user units during early login
Environment=HOME=%h
ExecStart=/usr/bin/bash -lc 'chmod +x /var/tmp/install-evdi.sh && ./var/tmp/install-evdi.sh'
RemainAfterExit=yes

[Install]
WantedBy=default.target
